/communic.obj
/communic.~cpp
/communic.~h
/config.str
*.exe
*.obj
/ConfigKURS.~bpr
/ConfigKURS.~cpp
/Configurator.~bpr
/Configurator.~cpp
/crc32.~c
/crc32.~h
/dayplans.~cpp
/dayplans.~ddp
/dayplans.~dfm
/dayplans.~h
/dksost.~cpp
/dksost.~dfm
/dksost.~h
/fazas.~cpp
/fazas.~ddp
/fazas.~dfm
/fazas.~h
/frame_dk.~cpp
/frame_dk.~dfm
/frame_dk.~h
/guard.~cpp
/guard.~ddp
/guard.~dfm
/guard.~h
/help_form.~cpp
/help_form.~ddp
/help_form.~dfm
/help_form.~h
/local.~cpp
/local.~ddp
/local.~dfm
/local.~h
/napr.~cpp
/napr.~ddp
/napr.~dfm
/napr.~h
/progutil.~cpp
/progutil.~h
/project.~cpp
/project.~ddp
/project.~dfm
/project.~h
/structures.~cpp
/structures.~h
/structureSURD.~c
/structureSURD.~h
/takts.~cpp
/takts.~h
/udzcg.~cpp
/udzcg.~ddp
/udzcg.~dfm
/udzcg.~h
/Unit1.~cpp
/Unit1.~ddp
/Unit1.~dfm
/Unit1.~h
/Unit10.~cpp
/Unit10.~ddp
/Unit10.~dfm
/Unit10.~h
/year.~cpp
/year.~ddp
/year.~dfm
/year.~h
/weeksplans.~cpp
/weeksplans.~ddp
/weeksplans.~dfm
/weeksplans.~h
/Unit21.~cpp
/Unit21.~ddp
/Unit21.~dfm
/Unit21.~h
/Unit18.~cpp
/Unit18.~ddp
/Unit18.~dfm
/Unit18.~h
/Unit12.~cpp
/Unit12.~ddp
/Unit12.~dfm
/Unit12.~h
/Unit11.~cpp
/Unit11.~ddp
/Unit11.~dfm
/Unit11.~h
*.txt
*.ddp
